@font-face {
  font-family: Britney;
  src:
    url(Fonts/FontshareKit-2609001022/Britney/Fonts/TTF/Britney-Variable.ttf),
    format(ttf);
}
@font-face {
  font-family: Quicksand;
  src:
    url(Fonts/FontshareKit-2609001022/Quicksand/Fonts/TTF/Quicksand-Variable.ttf),
    format(ttf);
}
body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

.mainContainer {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template: 1fr 3fr / 20% 3fr;
}
.sidebar {
  grid-row: 1/3;
  background-color: #6C698D;
}
.header {
  grid-column: 2/3;
  background-color: #D4D2D5;
  display: grid;
  grid-template-rows: 1fr/2fr;
}
.subContainer {
  grid-area: 2/2/3/3;
  background-color: khaki;
}
/*Working on the sidebar now*/
.sidebar {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar div {
  color: white;
}
.sTitle {
  font-family: Quicksand;
  font-size: 40px;

}
.sContent1,
.sContent2 {
  font-family: Quicksand;
  font-size: 25px;
  font-variation-settings: "wght" 500;  
}
/*Working now on the header and elements*/
.header{
  display: grid;
  grid-template-rows: 1fr/3fr;
  padding-left: 35px;
}

.search{
  display: flex; 
  justify-content: left; 
  align-items: center;
  gap: 20px;
}
#searchQuery{
  border: 2px solid #AA968A  ;
  border-radius: 40px;
  width: 600px;
  height: 40px;
  background-color: #AA968A;
  box-shadow: -65px 0px #B5A398;
  padding-left: 40px;
  font-size: 22px;
}
#searchQuery:focus{
  border-style: none;
  border: 0px white;
}

.searchImg{
  width: 40px;
  height: 40px;
  position: relative;
}
.bell{
  justify-self: flex-end;
  width: 40px;
  height: 40px;
  position: relative;  
}


