@font-face {
  font-family: Britney;
  src:
    url(Fonts/FontshareKit-2609001022/Britney/Fonts/TTF/Britney-Variable.ttf),
    format(ttf);
}
@font-face {
  font-family: Quicksand;
  src:
    url(Fonts/FontshareKit-2609001022/Quicksand/Fonts/TTF/Quicksand-Variable.ttf),
    format(ttf);
}
body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

.mainContainer {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template: 1fr 4fr / 20% 3fr;
}
.sidebar {
  grid-row: 1/3;
  background-color: #304d6d;
}

.subContainer {
  grid-area: 2/2/3/3;
  background-color: khaki;
}
/*Working on the sidebar now*/
.sidebar {
  padding: 20px 25px;
  display: grid;
  grid-template-rows: 50px 40% 40%;
  gap: 40px;
}
.sContent1,
.sContent2 {
  display: grid;
  grid-template: repeat(6, 1fr) / 1fr 6fr;
  align-items: center;
  column-gap: 15px;
}
.sContent2 {
  row-gap: 20px;
}
.sidebar div {
  color: white;
}
.sTitle {
  font-family: Quicksand;
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: start;
  column-gap: 9px;
}
.subIcons {
  width: 28px;
  height: 28px;
  justify-self: center;
}
.sContent1,
.sContent2 {
  font-family: Quicksand;
  font-size: 25px;
  font-variation-settings: "wght" 500;
}
h1 {
  margin: 0px;
  text-align: start;
  font-size: 40px;
}
h2 {
  font-size: 22px;
  margin-top: 2px;
  margin-bottom: 2px;
}
/*Working now on the header and elements*/
.header {
  display: grid;
  grid-template-rows: 60px 100px;
  gap: 30px;
  padding: 18px 60px 25px 60px;
}
.header1 {
  display: grid;
  grid-template-columns: 60px 1fr 25%;
  align-items: center;
}
#searchQuery {
  border-style: none;
  border-radius: 40px;
  width: 95%;
  height: 40px;
  margin-left: 20px;
  background-color: #a4a4a4;
  padding-left: 40px;
  font-size: 22px;
}

.searchImg {
  width: 35px;
  height: 35px;
  justify-self: center;
}
.bell {
  align-self: left;
  width: 40px;
  height: 40px;
}
.pfp {
  width: 50px;
  height: 50px;
  border-radius: 200px;
}
.miniProfile {
  display: grid;
  width: 95%;
  grid-template-columns: repeat(2, 60px) 150px;
  align-content: center;
  justify-content: end;
  place-items: center;
  gap: 10px;
}
.username {
  font-family: quicksand;
  font-size: 20px;
  font-variation-settings: "wght" 600;
}
/*Doing the part under the search bar now in the header*/

.header2 {
  display: grid;
  grid-template-columns: 135px 1fr repeat(3, 180px);
}
.pfp2 {
  width: 100px;
  height: 100px;
  border-radius: 200px;
}
.greetingContainer {
  align-self: end;
}
.greeting {
  font-family: quicksand;
  font-size: 28px;
  font-variation-settings: "wght" 600;
}
.greeting2 {
  font-family: quicksand;
  font-size: 36px;
  font-variation-settings: "wght" 600;
}
.butt {
  font-family: quicksand;
  font-size: 21px;
  font-variation-settings: "wght" 800;
  background-color: #0078d4;
  color: white;
  border-style: none;
  border-radius: 40px;
  padding: 10px 45px;
  align-self: center;
  justify-self: center;
}
/*Doing the sub container now*/

.subContainer {
  display: grid;
  grid-template-columns:2.8fr 1fr;
  background-color: hsl(0, 0%, 85%);
}
.projectContainer {
  display: grid;
  padding: 15px 50px 15px 15px;
  gap: 30px;
  grid-template: 20px repeat(3, 1fr) / repeat(2, 1fr);
}
.project {
  background-color: white;
  padding: 10px 20px 10px 10px;
  box-shadow:
    #54428e -10px 0px,
    rgba(113, 112, 112, 0.675) 0px 4px 10px;
  margin-left: 10px;
  display: grid;
  grid-template-rows: 1fr 40px;
}
/*Testing*/
.projectContent > h3 {
  font-size: 25px;
  margin: 5px 5px 5px 0px;
  font-family: quicksand;
}
.projectContent > p {
  margin: 0px;
  font-size: 15px;
  font-family: quicksand;
}
.projectHeading {
  grid-column: 1 / span 2;
  font-family: quicksand;
}
.projectIcons {
  justify-self: end;
}
.projectIcons > img {
  height: 30px;
  width: 30px;
  margin: 0px 12px;
}
.miscContainer{
  display: grid;
  grid-template-rows: 1fr 1fr;
}